@import '../variables';

.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  transition: opacity 300ms ease-out;
  opacity: 1;
}

.overlay-exit-active {
  transition: opacity 300ms ease-out;
  opacity: 0;
}

.overlay {
  position: fixed;
  display: block;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0,0,0,.30);
  

  .popup {
    max-width: 350px;
    background-color: #fff;
    position: absolute;
    display: block;
    left: 50%;
    top: 25%;
    border-radius: 2%;
    transform: translate(-50%, -25%);
    overflow: hidden;

    .popup-header {
      text-align: center;
      h4 {
        margin-top: 5px;
        color: darken($main-orange, 10%);
      }
    }
    
    .popup-body {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 20px 5px 20px;
      
      span {
        text-align: center;
      }

      .popup-input {
        width: 100%;
        padding: 12px;
        margin: 6px 0;
        border: 1px solid #DEDCDC;
        box-sizing: border-box;
        border-radius: 5%;
        font-size: 16px;
      }
    }

    .popup-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
